<div class="item">
        {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
        {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
    
        {{ $type := .Type }}
        {{ if eq $type "projects" }} 
         <h4><a href="{{ .Params.repo }}">{{ .Title }}</a></h4> 
        {{else}}
          <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ end }}
        <h5>
            <p>{{ $.Scratch.Get "subtitle" }}</p>
        </h5>
        {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
        {{ end }}
    </div>