{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2> 
    </br>
    <div class="hireme">
        You can <a href="mailto:onar@outlook.com">hire me</a>
    </div>    
    </br>
        
                    <snap style="color:rgb(189, 189, 189)"><h5>recent post</h5></snap>
                    <h5>
                        {{ $mysection := ($.Site.GetPage "section" "posts").Pages.ByPublishDate.Reverse}}
                        {{ range first 1 $mysection }}
                          <a href="{{ .RelPermalink }}">{{.Title}}</a>
                        {{ end }}
                    </h5> 
        
    </div>

    
</main>

{{ partial "footer" . }}
